.gallery img {
    width: 100%;
}

h2{
    font-family: Impact, fantasy;
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
    font-style: italic;
}
h4{
    font-family: Impact, fantasy;
    font-size: 20px;
    color: cornflowerblue;
    font-style: italic;
}
p{
    font-family: Helvetica, sans-serif;
}


#menu {
    width: 100%;
    height: 40px;
    background-color: rgb(1, 17, 32);
    padding-top: 12px;
}
#menu a{
    color: skyblue;
    font-family: fantasy;
    font-size: 20px;
    text-decoration: slateblue;
    font-weight: 800px;

    padding-left: 150px;
    padding-right: 150px;
}

#menu a:hover{
    color: gold;
}





